{% extends "base.html" %}
{% load static %}

{% block title %}{{ view.filter }} Task List{% endblock %}

{% block content %}
  <div class="card-deck p-4">
    <div class="card">
      <h5 class="card-header">Description</h5>
      <div class="card-body">
        <h1 class="card-title">{{ view.filter }} Task List</h1>
        <p class="card-text">{{ view.description }}</p>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Administration</h5>
      <div class="card-body">
        <h2 class="card-title text-center">New Task</h2>
        <p class="card-text">
          Need to add a new task?
        </p>
      </div>
      <div class="text-center card-footer">
        <button id="button-new" class="btn btn-primary"
                data-toggle="collapse"
                data-target="#details-new"
                aria-expanded="false"
                aria-controls="details-new"
                hx-get="{% url 'tasks:task_add' %}"
                hx-target="#context-new"
                hx-swap="innerHTML"
                hx-select="#context-new"
                hx-indicator="#spinner-new"
                _="
                  on click
                    toggle [@expanded=false]
                  if @expanded
                    set my.innerText to 'Cancel'
                    remove .btn-primary
                    add .btn-danger
                  else
                    set my.innerText to 'Add Task'
                    remove .btn-danger
                    add .btn-primary
                  end
                "
        >
          Add Task
        </button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Due</th>
        {% if  view.filter  != "My" %}
          <th scope="col">Assigned To</th>
        {% endif %}
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody id="new-content">
      <tr id="details-new" class="collapse">
        <td colspan="6">
          <div id="context-new">
            <div class="text-center">
              <img id="spinner-new" src="{% static 'images/oval.svg' %}" alt="loading...">
            </div>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody
        id="list-content"
        hx-get="{{ request.get_full_path }}"
        hx-trigger="reload-tasks from:body"
        >
      {% include "tasks/htmx/task_list.html" %}
      </tbody>
    </table>
  </div>
  </div>
{% endblock %}
