{% extends "base.html" %}

{% block title %}{{ view.filter }} Task List{% endblock %}

{% block content %}
  <div class="container-fluid">
    <h1 class="display-4">{{ view.filter }} Task List</h1>
    <div class="container border rounded p-4">
      <div class="border rounded p-4">
        <p class="text-center">Need to add a new task?</p>
        <p class="text-center">
          <a href="{% url 'tasks:task_add' %}" class="btn btn-primary" role="button">Add Task</a>
        </p>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-lg">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Task</th>
            <th scope="col">Assigned To</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          {% for task in task_list %}
            <tr>
              <th scope="row">
                <a href="{% url 'tasks:task_detail' task.slug %}">
                  {% if not "-" in task.slug %}
                    {{ task.slug }}-1
                  {% else %}
                    {{ task.slug }}
                  {% endif %}
                </a>
              </th>
              <td>{{ task.name }}</td>
              <td>{{ task.assigned_to.name }}</td>
              <td>{{ task.status|capfirst }}</td>
              <td>
                <a href="{% url 'tasks:task_detail' task.slug %}" class="btn btn-info"
                   role="button">View</a>
              </td>
              <td>
                <a class="btn btn-primary" href="{% url 'tasks:task_update' task.slug %}"
                   role="button">Update</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>

  </div>
{% endblock %}
