{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Delete Task{% endblock title %}

{% block content %}
  <div class="container-fluid">
    <h1 class="display-4">Delete Task</h1>
    <div class="container border rounded p-4">
      <h3>Delete Task</h3>
      <hr class="my-4">
      <form method="post" action=".">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <button type="submit" class="btn btn-danger">Confirm</button>
      </form>
    </div>
  </div>
{% endblock content %}
