{# invoice_list.html #}

{% extends "base.html" %}

{% block title %}Invoice List{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="jumbotron">
      <h1>Invoice List</h1>
    </div>
    <div class="container border rounded p-4">
      <div class="table-responsive">
        <table class="table table-striped table-lg">
          <thead>
          <tr>
            <th scope="col">Invoice</th>
            <th scope="col">Date</th>
            <th scope="col">Customer</th>
            <th scope="col">Amount</th>
            <th scope="col">MwSt.</th>
            <th scope="col">Paid On</th>
            <th scope="col"></th>
          </tr>
          </thead>
          {% for invoice in invoice_list %}
            <tr>
              <th scope="row">{{ invoice.invoice_id }}</th>
              <td>{{ invoice.invoice_date }}</td>
              <td>{{ invoice.customer }}</td>
              <td>{{ invoice.invoice_amount|floatformat:"2" }}€</td>
              <td>{{ invoice.vat_amount|floatformat:"2" }}€</td>
              <td>
                {% if invoice.paid %}
                  {{ invoice.paid_date }}
                {% else %}
                  <span class="badge badge-danger">Unpaid</span>
                {% endif %}
              </td>
              <td>
                <a href="{% url 'revenue:invoice_detail' invoice.pk %}" class="btn btn-info"
                   role="button">View</a>
                <a href="{% url 'revenue:invoice_update' invoice.pk %}" class="btn btn-primary"
                   role="button">Update</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="border rounded p-2">
        <p class="text-center">Need to add a new invoice?</p>
        <p class="text-center">
          <a href="{% url 'revenue:invoice_add' %}" class="btn btn-primary" role="button">Add Invoice</a>
        </p>
      </div>
    </div>

  </div>

{% endblock %}
